center {
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 2rem;
}

.container.report__container { 
    width: 58%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;
}

.report__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font-size: large;
}

.left, .right {
    display: grid;
    gap: 10px;
}

.profile__photo {
    display: grid;
    grid-area: 1/1/1/3;
}

button {
    height: min-content;
}